<!DOCTYPE html>
<html lang="en">
<head>   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minesweeper Game</title>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs/lib/stomp.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css"> 
</head>
<body>

<h1>MMO Minesweeper</h1>
<div id="resultDiv"></div>
<div id="game-board"></div>

<script src="/js/game.js"></script>
</body>
</html>
